.DS_Store
.devcontainer/
Dockerfile

.quarto/
_book/

__pycache__/
sandbox.ipynb

/content/advent/*_files/
/content/christmas/*_files/
/content/lent/*_files/
/content/holy-week/*_files/
/content/easter/*_files/
/content/ordinary-time/*_files/
/content/feasts/*_files/
/content/appendices/*_files/

/content/advent/.DS_Store
/content/christmas/.DS_Store
/content/lent/.DS_Store
/content/holy-week/.DS_Store
/content/easter/.DS_Store
/content/ordinary-time/.DS_Store
/content/feasts/.DS_Store
/content/appendices/.DS_Store




/.quarto/

**/*.quarto_ipynb
